<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>




<div class="center jumbotron">
  <h1>Welcome to TRUVUS.</h1>

  <h2>
    Read   |   Buy   |   Review
  </h2>
  <br>
<br>
<br>
<br>
<div class="col-md-6 col-md-offset-3">

<form class="form-wrapper cf">
  	<input type="text" placeholder="Search here..." required>
	  <button type="submit">Search</button>
</form>
</div>

<br>
<br>
<br>
<br>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>


</div>
<% end %>