<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
     <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
     <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.file_field :image , accept: 'image/jpeg,image/gif,image/png' %>
</div>
      <div class="col-md-2 col-md-offset-5">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    </div>
  
</div>


<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>