 
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <div id="content" class="clearfix">
        <section id="left">
            <div id="userStats" class="clearfix">
                <div class="pic">
                    <a href="#">
                        <%= image_tag @user.image.url if @user.image? %>
                    </a>
                </div>
                <div class="data">
                    <h1><%= @user.name %>
                    </h1>
                   <br>
                    <section class="stats"><%= render 'shared/stats' %>
                    </section>
                </div>
            </div>
            <div class="col-md-8"><%= render 'follow_form' if logged_in? %><% if @user.microposts.any? %>
                <h3>Microposts (<%= @user.microposts.count %>)
                </h3>
                <ol class="microposts"><%= render @microposts %>
                </ol><%= will_paginate @microposts %><% end %>
            </div>
        </div>
    </section>
    
    <section id="right">
        <div class="gcontent">
            <div class="head">
                <h1>Badges(3)</h1>
            </div>
            <div class="boxy">
                <p>Keep working to unlock badges!</p>
                <div class="badgeCount">
                    <a href="#">
                        <img src="img/foursquare-badge.png" />
                    </a>
                    <a href="#">
                        <img src="img/foursquare-badge.png" />
                    </a>
                    <a href="#">
                        <img src="img/foursquare-badge.png" />
                    </a>
                </div>
                <span>
                    <a href="#">See allâ€¦</a>
                </span>
            </div>
        </div>
        <div class="gcontent">
            <div class="head">
                <h1>Friends List</h1>
            </div>
            <div class="boxy">
                <p>Your friends - 106 total</p>
                <div class="friendslist clearfix">
                    <div class="friend">
                        <a href="#">
                            <img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Jerry K." />
                        </a>
                        <span class="friendly">
                            <a href="#">Jerry K.</a>
                        </span>
                    </div>
                    <div class="friend">
                        <a href="#">
                            <img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Katie F." />
                        </a>
                        <span class="friendly">
                            <a href="#">Katie F.</a>
                        </span>
                    </div>
                    <div class="friend">
                        <a href="#">
                            <img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Ash K." />
                        </a>
                        <span class="friendly">
                            <a href="#">Ash K.</a>
                        </span>
                    </div>
                    <div class="friend">
                        <a href="#">
                            <img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Sponge B." />
                        </a>
                        <span class="friendly">
                            <a href="#">Sponge B.</a>
                        </span>
                    </div>
                    <div class="friend">
                        <a href="#">
                            <img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Frank" />
                        </a>
                        <span class="friendly">
                            <a href="#">Frank</a>
                        </span>
                    </div>
                    <div class="friend">
                        <a href="#">
                            <img src="img/friend_avatar_default.jpg" width="30" height="30" alt="Alexa S." />
                        </a>
                        <span class="friendly">
                            <a href="#">Alexa S.</a>
                        </span>
                    </div>
                </div>
                <span>
                    <a href="#">See all...</a>
                </span>
            </div>
        </div>
    </section>
</div>undefined</body>